* {
  box-sizing: border-box;
}
/* style={{
  cursor: isCartEmpty ? "default" : "pointer",
  backgroundColor: isCartEmpty
    ? "hsl(135.54, 10%, 58.82%)"
    : undefined,
}} */
.disabledOrderButton {
  cursor: default !important;
  background-color: hsl(137, 3%, 60%) !important;
}

.enabledOrderButton {
  cursor: pointer !important;
}

/*style={{ color: "#1D1F22", textDecoration: "none" }}*/

.navLink {
  color: #1d1f22 !important;
  text-decoration: none !important;
}

/*style={{ width: "24px", height: "24px", padding: "0px" }}*/

.countControls {
  width: 24px !important;
  height: 24px !important;
  padding: 0px !important;
}

/*style={{ gap: "6px", margin: "10px 0px" }}*/

.textAttributeContainer {
  gap: 6px !important;
  margin: 10px 0px !important;
}

/*
style={{
                  height: "24px",
                  width: "auto",
                  fontSize: "14px",
                  cursor: "default",
                  color: "#ffffff",
                  backgroundColor: "#1d1f22",
                  padding: "6px 11px",
                }}
*/

.selectedTextAttr {
  height: 24px !important;
  width: auto !important;
  font-size: 14px !important;
  cursor: default !important;
  border: 1px solid #1d1f22 !important;

  color: #fff !important;
  background-color: #1d1f22 !important;
  padding: 6px 11px !important;
}

/*
style={{
                  height: "24px",
                  width: "auto",
                  fontSize: "14px",
                  cursor: "default",
                  color: "#1d1f22",
                  border: "1px solid #1d1f22",
                  padding: "3px 8px",
                }}
*/

.textAttribute {
  height: 24px !important;
  width: auto !important;
  font-size: 14px !important;
  cursor: default !important;
  color: #1d1f22 !important;
  border: 1px solid #1d1f22 !important;
  padding: 3px 8px !important;
}

/*style={{ gap: "6px", margin: "10px 0px" }}*/

.swatchAttributeContainer {
  gap: 6px !important;
  margin: 10px 0px !important;
}

/*style={{
                  background: attributeItem.value,
                  width: "16px",
                  height: "16px",
                  cursor: "default",
                }}*/

.swatchAttribute {
  width: 16px !important;
  height: 16px !important;
  cursor: default !important;
}

/*style={{
                    textDecoration: "none",
                    color: "#1D1F22",
                    zIndex: "1",
                  }}*/

.productCardLink {
  text-decoration: none !important;
  color: #1d1f22 !important;
  z-index: 1 !important;
}

.productQuantity {
  text-align: center !important;
}

.hidden-test-id {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
}
