* {
  box-sizing: border-box;
}

.disabledOrderButton {
  cursor: default !important;
  background-color: hsl(137, 3%, 60%) !important;
}

.enabledOrderButton {
  cursor: pointer !important;
}

.navLink {
  color: #1d1f22 !important;
  text-decoration: none !important;
}

.countControls {
  width: 24px !important;
  height: 24px !important;
  padding: 0px !important;
}

.textAttributeContainer {
  gap: 6px !important;
  margin: 10px 0px !important;
}

.selectedTextAttr {
  height: 24px !important;
  width: auto !important;
  font-size: 14px !important;
  cursor: default !important;
  border: 1px solid #1d1f22 !important;

  color: #fff !important;
  background-color: #1d1f22 !important;
  padding: 6px 11px !important;
}

.textAttribute {
  height: 24px !important;
  width: auto !important;
  font-size: 14px !important;
  cursor: default !important;
  color: #1d1f22 !important;
  border: 1px solid #1d1f22 !important;
  padding: 3px 8px !important;
}

.swatchAttributeContainer {
  gap: 6px !important;
  margin: 10px 0px !important;
}

.swatchAttribute {
  width: 16px !important;
  height: 16px !important;
  cursor: default !important;
}

.productCardLink {
  text-decoration: none !important;
  color: #1d1f22 !important;
  z-index: 1 !important;
}

.productQuantity {
  text-align: center !important;
}

.hidden-test-id {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0.01;
  pointer-events: none;
  overflow: hidden;
}
